.body-div{
  padding: 18px;
}

.logo{
  width: 100%;
  height: 100%;
  margin-top: -25%;
  margin-bottom: -20%;
  // position: relative;
  // right: 500px;
}

.top-navs{
  position: relative;
  bottom: 10%;
}

ul.nav{
  li{
    padding-left: 10px;
    padding-right: 10px;
  }
}

.headline-image{
  width: 100%;
  height: 300px;
  padding-top: 10px;
}

.midsection-image{
  width: 100%;
  height: 100%;
  padding: 10px 0px;
}

.signup-forms{
  width: 100%;
  height: 100%;
  border: 2px solid Black;
  padding: 10px 10px;
  outline-offset: -20px;
  box-sizing: border-box;
}

.signup-buttons{
  text-align: center;
  margin-right: 40px;
  margin-left: 70px;
}

.midsection{
  // height: 700px;
  height: auto;
}

.section-header{
  padding:20px 10px;
  padding-top: 10px;
  text-align: center;
  margin: 0 auto;
}

.center-text{
  text-align: center;
}

.footer-border{
  border-bottom: 1px solid gray;
  padding: 20px 0px;
  box-sizing: border-box;
}

.no-bullets{
  list-style: none;
  padding-left: 0px;
}

.user-button-list {
  li{
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    border-radius: 15px;
    border: 1px solid Black;
    color: black;
  }
}

// Jury rigging some css into place
.col-xs-5{
  width: 41.66%;
}
.col-xs-7{
  width: 58.33%;
}
