<div class="body-div">
<!--Top-->
<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
  <a href="caredash.com">
    <img src="https://assets.caredash.com/assets/caredash-logo-official-a122691e52b2f17c2083929963e1f288de8bf447e9de424017dc35f32b11d5fb.svg"
    class="logo">
  </a>
  </div>
  <div class="col-lg-5 col-md-7 col-sm-8 col-xs-12">
    <nav class="top-navs">
        <ul class="nav">

          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="btn-group" dropdown>
              <button id="button-autoclose1" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                      aria-controls="dropdown-autoclose1">
                Menu Item 1
              </button>
              <ul id="dropdown-autoclose1" *dropdownMenu class="dropdown-menu"
                  role="menu" aria-labelledby="button-autoclose1">
                <li role="menuitem"><a class="dropdown-item" href="#">Action One</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#">Another action One</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#">Third Action One</a></li>
              </ul>
            </div>
          </div>


          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <div class="btn-group" dropdown>
                <button id="button-autoclose2" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                        aria-controls="dropdown-autoclose2">
                Menu Item 2
                </button>
                <ul id="dropdown-autoclose2" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-autoclose2">
                  <li role="menuitem"><a class="dropdown-item" href="#">Action Two</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="#">Another action Two</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="#">Third Action Two</a></li>
                </ul>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <div class="btn-group" dropdown [autoClose]="false">
                <button id="button-autoclose2" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                        aria-controls="dropdown-autoclose2">
                Menu Item 3
                </button>
                <ul id="dropdown-autoclose2" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-autoclose2">
                  <li role="menuitem"><a class="dropdown-item" href="#">Action Three</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="#">Another action Three</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="#">Third Action Three</a></li>
                </ul>
              </div>
            </div>

        </ul>
    </nav>
  </div>
</div>

<!--====================================================================================================-->
<!-- Mid -->

<div class="midsection">
  <div class="row">
    <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
      <img src="https://st3.depositphotos.com/9999814/18280/i/1600/depositphotos_182800376-stock-photo-doctor-on-medical-icons-background.jpg"
      class="midsection-image">
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 signup-forms">
      <h4 class="section-header">Sign Up with CareDash to Edit your Provider Profile</h4>

      <form>
          <div class="form-group">
            <label for="InputFirstName">First Name</label>
            <input
            type="text"
            class="form-control"
            id="InputFirstName"
            placeholder="Enter First Name">
          </div>

          <div class="form-group">
            <label for="InputLastName">Last Name</label>
            <input
            type="text"
            class="form-control"
            id="InputLastName"
            placeholder="Enter Last Name">
          </div>

          <div class="form-group">
            <label for="InputEmail">Email address</label>
            <input
            type="email"
            class="form-control"
            id="InputEmail"
            placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">You're email's safe with us!</small>
          </div>
          <div class="form-group">
            <label for="Password">Password</label>
            <input
            type="password"
            class="form-control"
            id="Password"
            placeholder="Enter Password">
          </div>

          <div class="form-group">
            <label for="PasswordConfirm">Confirm Password</label>
            <input
            type="password"
            class="form-control"
            id="PasswordConfirm"
            placeholder="Confirm Password">
          </div>
          <button type="submit" class="btn btn-primary signup-buttons text-center">Sign Up</button>
          <button type="submit" class="btn btn-primary signup-buttons text-center">Log In</button>
        </form>

    </div>

  </div>
</div>

<div class="row center-text">
  <h2 class="section-header">Reasons to Sign Up as a provider on CareDash </h2>
</div>

<!--====================================================================================================-->
<!-- Headlines -->
<div class="row">

  <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
    <img src="https://media.istockphoto.com/photos/technology-innovation-and-medicine-concept-doctor-and-medical-network-picture-id914789708?k=6&m=914789708&s=612x612&w=0&h=PNhm1VPwC4XvCAXW6N0AAqOaVgdO55aC4DCJK7EckG8="
    class="headline-image">
    <h2 class="section-header">Headline</h2>
    <span>{{lorem}}</span>
    <br>
    <a class="btn btn-secondary" href="#"> Learn More </a>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <img src="https://media.istockphoto.com/photos/technology-innovation-and-medicine-concept-doctor-and-medical-network-picture-id914789708?k=6&m=914789708&s=612x612&w=0&h=PNhm1VPwC4XvCAXW6N0AAqOaVgdO55aC4DCJK7EckG8="
      class="headline-image">
      <h2 class="section-header">Headline</h2>
      <span>{{lorem}}</span>
      <br>
      <a class="btn btn-secondary" href="#"> Learn More </a>
  </div>

  <div class="col-lg-4 offset-lg-0 col-md-6 offset-md-3 col-sm-12 col-xs-12">
      <img src="https://media.istockphoto.com/photos/technology-innovation-and-medicine-concept-doctor-and-medical-network-picture-id914789708?k=6&m=914789708&s=612x612&w=0&h=PNhm1VPwC4XvCAXW6N0AAqOaVgdO55aC4DCJK7EckG8="
      class="headline-image">
      <h2 class="section-header">Headline</h2>
      <span>{{lorem}}</span>
      <br>
      <a class="btn btn-secondary" href="#"> Learn More </a>
  </div>

</div>

<!--====================================================================================================-->
<!-- footer -->

<div class="row footer-border"></div>

  <div class="col-lg-9 offset-lg-1 col-md-12 col-sm-12 col-xs-12 ">

    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <h4>CareDash</h4>
        <ul class="no-bullets">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Write a Review</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <h4>Specialists</h4>
        <ul class="no-bullets">
          <li><a href="#">Primary Care Physicians</a></li>
          <li><a href="#">Pediatricians</a></li>
          <li><a href="#">Optometrists</a></li>
          <li><a href="#">Dentists</a></li>
        </ul>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <h4>Follow Us</h4>
        <ul class="user-button-list no-bullets">
          <li><a class="fa fa-user" href="#">F</a></li>
          <li><a class="fa fa-user" href="#">T</a></li>
          <li><a class="fa fa-user" href="#"> I</a></li>
          <li><a class="fa fa-user" href="#">P</a></li>
        </ul>
      </div>
    </div>

  </div>

</div>

<router-outlet></router-outlet>
